
 <h1>Bienvenidos a la mejor Pagina de Borracheras :v</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="jumbotron">
      <h1>Usuario</h1>
      <p>Registrate para participar en las borracheras Y Revisa la lista de usuario</p>
      <p><a class="btn btn-primary btn-lg" [routerLink]="['/usuario']" role="button">CRUD Usuario</a></p>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="jumbotron">
      <h1>Borrachera</h1>
      <p>Registra una Borrachera y Revisa la lista de Borracheras existentes</p>
      <p><a class="btn btn-primary btn-lg" [routerLink]="['/borrachera']" role="button">CRUD Borrachera</a></p>
    </div>
  </div>
</div>
