<div class="container jumbotron">
  <h1>Crear Usuario</h1>
  <div class="form-group ">
    <form class="animated bounceIn" (ngSubmit)="crearProducto(NuevoUsuarioForm)" #NuevoUsuarioForm="ngForm">
      <label>Nombre de Usuario</label>
      <input type="text" class="form-control" name="nombre" placeholder="Ingrese su nombre" [(ngModel)]="nuevoUsuario.nombre">

      <label>Ciudad de Residencia</label>
      <input type="text" class="form-control" placeholder="Ingrese su ciudad de Residencia" name="ciudadResidencia"
             [(ngModel)]="nuevoUsuario.ciudadResidencia">

      <label>Fecha de Nacimiento</label>
      <input type="date" class="form-control" placeholder="Ingrese su fecha de nacimiento" name="fechaNacimiento"
             [(ngModel)]="nuevoUsuario.fechaNacimiento">
      <button class="submit" class="btn btn-block btn-success">Crear Usuario</button>
    </form>

  </div>


  <div class="row">
    <div class="col-sm-12" *ngFor="let usuario of usuarios">
      <h1>{{usuario.nombre}}</h1>
      <p>ID: {{usuario.id}}</p>
    </div>

  </div>
</div>
